git-checks=false
engine-strict = true
resolution-mode=time-based
enable-pre-post-scripts=true
manage-package-manager-versions=true

save-prefix=
node-linker=hoisted
legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
